@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
    box-sizing: border-box;
}


	/*Estilos para el encabezado*/
	.header{
		width: 90%;
		height: 80px;
		position:relative;
		top: 0;left: 0;
		background-color: transparent;
		display: flex;
	}
	.capa{
		position:fixed;
		width: 100%;
		height: 50vh;
		background: transparent;
		z-index: -1;
		top: 0;left: 0;
	}
	.container{
		width: 100%;
		max-width: 1300px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: rgb(0, 0, 0);
		font-size: 25px;
		cursor: pointer;
	}

	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color:rgba(0, 0, 0, 0.9);
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 18px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: transparent;
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 300px;
		background:rgb(94, 158, 253,20%);
		height: 100%;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
		
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu .lista{
		transform: translateY(15%);
		white-space: nowrap;
	}
	.cont-menu .lista li a {
		display:block;
		text-decoration: none;		
		padding: 20px;
		color: #000000;
		margin: auto;
		text-align: left;
		
	}
	.cont-menu .lista li a:hover{
		border-left: 5px solid #F1C40F;
		background: rgb(241, 196, 15,20%);
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: rgb(0, 0, 0);
		cursor: pointer;
		font-size: 18px;
	}
	.cont-menu  ul{
		list-style: none;		
	}

ul.lista ul{
	display: none;
}

ul.lista > li:hover >ul{
	display: block;
    position:absolute;
    top: 100%;
    left: 0;	
}

	/*Fin de Menù lateral*/
